composer.phar
*composer.phar
.DS_Store
*.DS_Store
/config/config.json
/config/config.json.bak
/tmp/
/tmp/*
*/tmp/
*/tmp/*
/data/
/data/*
/plugins/
/plugins/*
/error/
/error/*
/stats/
/stats/*
robots.txt
